.bg-img {
  /* The image used */
  background-image: url('/assets/images/Intersect.png');

  min-height: 1000px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
